rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /cardImages/{userId}/{fileName} {
      allow create: if request.auth != null
                    && request.auth.uid == userId
                    && request.resource.size < 3 * 1024 * 1024
                    && request.resource.contentType.matches('image/.*');
      allow update, delete: if false;
      allow read: if false;
    }
  }
}
